<!DOCTYPE html>
<html>

<head>
    <title>Password Reset</title>
    <link rel="stylesheet" type="text/css" href="slide navbar style.css">
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/passwordReset.css">
    <link rel="stylesheet" href="/css/loginRegister.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="d-flex justify-content-center mt-3">
        <div class="card text-center" style="width: 350px; border-radius: 10px;">
            <div class="card-header mb-0" style="text-align: center; border: 0; background-color: white; border-radius: 10px;"><h2 class="mt-2 mb-0" style="color: #573B8A;">Password Reset</h2></div>
            <div class="card-body px-4 pt-0 mt-3">
                <form id="resetForm" class="">
                    <p class="card-text pb-2" style="text-align: center;">
                        Enter your email address and we'll send you an email with OTP to reset your password.
                    </p>
                    <div class="form-outline">
                        <input type="email" id="emailField" class="form-control w-75 mb-0" name="Email" placeholder="Enter email address" style="border-radius: 5px; background-color: #e0dede;" required />
                        <p id="mailError" class="text-danger mt-2"></p>
                    </div>
                    <button type="submit" class="btn btn-primary w-75 mt-1" style="border-radius: 5px;">Request OTP</button>
                </form>
                <form class="mt-2 d-none" id="otpSubmitForm">
                    <div class="form-outline">
                        <input type="number" class="form-control my-2" name="passOtp" placeholder="Enter OTP here" required />
                        <p id="otpError" class="text-danger mt-2"></p>
                    </div>
                    <button type="submit" class="btn btn-primary w-75" style="border-radius: 5px;">Submit OTP</button>
                </form>
                <form action="/submitNewPassword" method="post" class="mt-2 d-none" id="newPasswordForm">
                    <div class="form-outline">
                        <input type="password" id="newPass" class="form-control my-2" name="newPassword" placeholder="Enter new password" required />
                        <p id="newPassError"></p>
                    </div>
                    <button type="submit" class="btn btn-primary w-75" style="border-radius: 5px;">Confirm</button>
                </form>
                <div class="d-flex justify-content-between mt-4" >
                    <a href="/login" style="color: #573B8A;">Login</a>
                    <a href="/signup" style="color: #573B8A;">Register</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/passwordReset.js"></script>    
</body>

</html>